* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
  font-family: "Raleway", sans-serif;
}

:root {
  --color_backdark: #111111;
  --color_backdarkTwo: #222222;
  --color_backmedium: #2e2e2e;
  --color_backlight: #8f8f8f;
  --color_secondback: #282b41;
  --color_deactivated: #735F32;
  --color_activated: #C69749;
  --color_font: #f8f8f8;
  --font_Display: "DotGothic16", sans-serif;
  --font-General: "Raleway", sans-serif;
}

body {
  background: var(--color_backmedium);
  font-size: 62.5%;
  font-family: var(--font-General);
}

body {
  background-color: var(--color_backdarkTwo);
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  width: 13px;
}
body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}
body::-webkit-scrollbar-thumb {
  background: var(--color_backlight);
  border-radius: 4px;
}
body::-webkit-scrollbar-thumb:hover {
  background: var(--color_backdark);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
main .title {
  position: relative;
  width: 95%;
  padding: 10px;
  margin-top: 25px;
  margin-right: auto;
  margin-left: 40px;
  font-weight: 700;
  color: var(--color_backdark);
  border-radius: 10px 10px 0 0;
  border: 2px solid #444444;
  font-size: 2rem;
  background-color: #FFFFFF77;
}
main .title::after {
  position: absolute;
  content: "";
  border-radius: 10px 10px 0 0;
  background: linear-gradient(145deg, #f3eeee, #c08810, #0f0f0f, #926e0b);
  background-size: 500%;
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
  top: 0;
  animation: animateText 5s linear infinite alternate;
}
main .description, main .conceptos {
  font-size: 1rem;
  font-weight: 200;
  margin: 20px 40px;
  text-align: justify;
  color: var(--color_font);
}

@keyframes animateText {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100% 50%;
  }
}